<%= form_for @user, method: 'post', html: { role: 'form' } do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= f.label :confirm %>
  <%= f.password_field :password2 %>
  <br/>
  <%= f.submit 'Create' %>
<% end %>
