<%= form_for :user, url: log_in_users_path, method: 'post', html: { role: 'form' } do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= f.submit 'Sign in' %>
<% end %>
